<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robotics Club - Members</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/universal.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>

  <%- include('partials/header') %>

  <div class="jumbotron">
    <h1 class="display-4">Our Members</h1>
  </div>

  <div class="container mt-5">
    <h1>Meet Our Members</h1>

    <% if (members && Object.keys(members).length > 0) { %>
      <ul class="list-group">
        <% for (let key in members) { %>
          <li class="list-group-item">
            <strong>Name:</strong> <%= members[key].name %> <br>
            <strong>Email:</strong> <%= members[key].email %> <br>
            <strong>Role:</strong> <%= members[key].role %>
            <% if (user && user.admin) { %>
              <a href="/members/edit/<%= key %>" class="btn btn-warning mt-2 float-right">Edit Member</a>
              <a href="/members/delete/<%= key %>" class="btn btn-danger mt-2 float-right mr-2">Delete Member</a>
            <% } %>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <p>No members available at the moment. Please check back later!</p>
    <% } %>

    <% if (user && user.admin) { %>
      <div class="text-center mt-4">
        <a href="/members/add" class="btn btn-primary">Add Member</a>
      </div>
    <% } %>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
